body {
    margin: 0;
    background-color: #FFFFFF; /* White background */
    font-family: Arial, sans-serif;
    color: #2C3E50; /* Dark Blue text */
    overflow-x: hidden;
}

#main {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensure the main section takes full viewport height */
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#particleContainer, #textContainer {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#particleContainer {
    left: -10%; /* Set the particle container to the left */
    z-index: 1; /* Particles should stay in the background */
    background-color: rgba(0, 0, 0, 0.8); /* Set a semi-transparent background to make particles visible */
}

#textContainer {
    right: 0; /* Set the text container to the right */
    z-index: 1; /* Text stays above particles */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    text-align: left;
    padding-left: 20px;
}

.name {
    font-size: 4em;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease, transform 0.8s ease;
    font-weight: bold;
    color: #ffffff; /* White text */
}

.tagline {
    font-size: 2em;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease, transform 0.8s ease;
    color: #ffffff; /* White text */
}

.profile-pic {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    border: 10px solid #ffffff; /* Cyan border */
}

#sidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Sidebar stays above other elements */
}

.menu-options {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-options li {
    margin-left: 10px;
}

.menu-options li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF; /* White icons */
    font-size: 24px; /* Adjust the font size to make icons larger */
    padding: 10px;
    border-radius: 50%;
    background-color: #0800ff; /* Cyan background */
    transition: background-color 0.3s, transform 0.3s;
}

.menu-options li a:hover {
    transform: scale(1.1);
    background-color: #E74C3C; /* Coral background on hover */
}

#content {
    position: relative;
    padding: 0px;
    background-color: #f9f9f9;
    color: #2C3E50; /* Dark Blue text */
    z-index: 3; /* Content stays above particles */
    margin-top: 0vh; /* Ensure content starts below the fixed elements */
}

#content section {
    margin-bottom: 40px;
}

#content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#content p {
    font-size: 1em;
    line-height: 1.6;
}
